    <div class="calendar">
      <div class="calendar-header">
        <button (click)="goToPreviousMonth()" class="calendar-nav-button">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-chevron-left"><path d="m15 18-6-6 6-6"></path></svg>
        </button>
        <h2 class="calendar-title">
          {{ formatDate(currentMonth, 'MMMM yyyy') }}
        </h2>
        <button (click)="goToNextMonth()" class="calendar-nav-button">
          <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" class="lucide lucide-chevron-right"><path d="m9 18 6-6-6-6"></path></svg>
        </button>
      </div>
      <div class="calendar-weekdays">
        <div>Sun</div>
        <div>Mon</div>
        <div>Tue</div>
        <div>Wed</div>
        <div>Thu</div>
        <div>Fri</div>
        <div>Sat</div>
      </div>
      <div class="calendar-days">
        <div
          *ngFor="let week of calendarDays"
          class="calendar-week"
        >
          <div
            *ngFor="let day of week"
            class="calendar-day"
            [ngClass]="{
              'calendar-day-number': day,
              'calendar-day-selected': isDaySelected(day),
              'calendar-day-in-range': isDayInRange(day),
              'calendar-day-null': !day
            }"
            (click)="selectDay(day)"
          >
            <span *ngIf="day" >
              {{ formatDate(day, 'd') }}
            </span>
          </div>
        </div>
      </div>
    </div>
    